.myevent-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto; 
  }

.myevent-detail-card,
.participant-list-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background: hsl(var(--background-secondary-light), 0.7);
  color: white;
  padding: 20px;
  margin-bottom: 20px; 
}

.myevent-detail-card h1,
.participant-list-card h2 {
  margin-bottom: 20px;
}

.edit-button {
  background: hsl(var(--background-secondary-dark));
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%; 
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.edit-button:hover {
  opacity: 80%;
}

.participant-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.participant-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.participant-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.participant-info p {
  margin: 0;
}

.myevent-detail-card h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.form-group label {
  width: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.image-edit-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background: hsl(var(--background-secondary-light), 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.image-preview-container {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-thumbnail {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.form-input-file {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}